.page-header {
    background-color: #20B2AA;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.container {
 padding: 0px 0px 0px 0px;
 margin-top: 0;
 margin-left: 0;
}

h1 {
    color: #990099;
	font-family: 'Lobster';
}
body {
    padding-left: 12px;
}
h2 a {
    color: #1a1aff;
    font: italic bold 18px/30px Lucida Console, serif;
}
h2 {
    color: #1a1aff;
    font:  bold 18px/30px Lucida Console, serif;
}
h3 {
    color: #ffffff;
    font:  bold 16px/30px Lucida Sans Unicode, serif;
	background: #1a1a1a  no-repeat fixed center;
}
h4 {
    color: #330033;
	padding-right: 15px;
	font:  bold 15px/30px Verdana;
	font-style: normal;
	background: #E8E8E8 url("smiley.gif") no-repeat fixed center;
}
h6 a {
    color: #0080ff;
    font:  bold 14px/30px cursive, serif;
	font-style: oblique;
}

h7 { 
	font-family: 'Muli', sans-serif; font-weight:normal; 
	color: #0080ff;
	font-style: italic;
}

.tags{
    text-align: left;
    color: red;
}

p {
    font-family: Geneva, Georgia, Serif;
	font-style: italic;
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

#login {
	float:left;
    width:50%;
    padding:10px;
   
    height:40%;
}

#user-list .active-users {
    width:180px;
    float:left;
    overflow:auto;
    padding:10px;
}