.jumbotron {
    background-image:url(% static 'images/navy-blue-wallpaper.JPG');
	
}

.page-header {
    background-color: #20B2AA;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.container {
 padding: 0px 0px 0px 0px;
 margin-top: 0;
 margin-left: 0;
}

#container_user {
 
 width:40%;
 padding:10px;
 margin-top: 0;
 margin-left: 0;
}
h1 {
    color: #990099;
	font-family: 'Lobster';
}
body {
	background-color: #d9d9d9;
	background-image: url(% static 'images/grey-back.jpg') no-repeat right bottom;
    padding-left: 12px;
}
h2 a {
    color: #1a1aff;
    font: italic bold 18px/30px Lucida Console, serif;
}
h2 {
    color: #1a1aff;
    font:  bold 18px/30px Lucida Console, serif;
}
h3 {
    color: #ffffff;
    font:  bold 15px/30px Lucida Sans Unicode, serif;
	background: #004d99  no-repeat fixed center;
}
h4 {
    color:#1fada6;
	padding-right: 15px;
	font:  bold 15px/30px Verdana;
	font-style: normal;
	background: #FFEFD5 url("smiley.gif") no-repeat fixed center;
}
h5 {
    color: #1a1aff;
    font:  bold 16px/30px Lucida Console, serif;
}



h7 { 
	font-family: 'Muli', sans-serif; font-weight:normal; 
	color: #0080ff;
	font-style: italic;
}

.tags{
    text-align: left;
    color: red;
}
.date{
    font-style: normal;
	text-align: left;
    color: #4B0082;
}
p {
    font-family: Geneva, Georgia, Serif;
	font-style: italic;
}

#sidebar_right { 
    float:right;
    width:30%;
    padding:10px;
    background:#d9d9d9 url('images/grey-back.jpg') no-repeat right bottom; 
    height:100%;
}
#sidebar_left { 
    float:left;
    width:70%;
    padding:10px;
    background:#d9d9d9 url('images/grey-back.jpg') no-repeat right bottom; 
    height:100%;
}

#login {
	float:left;
    width:50%;
    padding:10px;
   
    height:40%;
}

#user-list .active-users {
    width:180px;
    float:left;
    overflow:auto;
    padding:10px;
}
#r_comment {
    font:Comic Sans MS;
	color: black;
	
    padding-left:20px;

}
.info {
    background-color: #aaaaee ;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.user_details {
    background-color: Lavender   ;
    color: #372f6a ;
    margin: 20px 0 20px 0;
    padding: 20px;
} 


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}