{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
	<div>
		<h4><a href="{% url 'recommendations:repo_detail' repo.id %}"> {{ repo.name }}</a></h4>

	</div>
{% endblock %}

{% block content %}
		<p class="tags">
					Tags: 
					{% for tag in repo.tags.all %}
						<a href="{% url 'recommendations:repo_list_by_tag' tag.slug %}">{{ tag.name }}</a>
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</p>
		<h6>{{ repo.review_set.count }} reviews ({{ repo.average_rating | floatformat }} average rating)</h6>
	<h3>Add your review</h3>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<p> * <b> Rating</b>: Choose from 1 to 5 </p>
	<form action="{% url 'recommendations:add_review' repo.id %}" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form layout='inline' %}
		{% buttons %}
			<button type="submit" class="btn btn-primary">
			  {% bootstrap_icon "star" %} Add
			</button>
		{% endbuttons %}
	</form>
{% endblock %}