{% extends 'base.html' %}
{% load recommendations_tags %}
{% block title %}
	<h1>Welcome to GitHub Recommendations</h1>

{% endblock %}

{% block content %}
 	<p> In this project are included  <strong> {% total_repos %} GitHub repositories </strong> in total from <strong>{% total_users %} users </strong></p>
		<div id="sidebar">
		<div class="panel-group">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2>Most Reviewed Repositories</h2>
				</div>
				<div class="panel-body">
					{% get_most_reviewed_repos as most_reviewed_repos %} 
					<ul>
					{% for repo in most_reviewed_repos %}
						<li>
							<a href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }}</a>:<a style="font-family:Lucida Console; font-size:90%;" href="{% url 'recommendations:reviews_by_repo' repo.id %}"> <i>Reviews</i>	</a>
						</li>
					{% endfor %}
					</ul>
				</div> 
			</div>
		</div>		
	</div>
	<div >
		<h3><a href="#">Last reviews</a></h3>
	</div>	
	{% if homepage_review_list %}
	<div>
		{% for review in homepage_review_list %}
			<div class="col-xs-6 col-lg-4">
				<li><h4>  {{ review.repo.name }}: <a style="font-family:Lucida Console; font-size:90%;" href="{% url 'recommendations:reviews_by_repo' review.repo_id %}">Reviews	</a></h4></li>
				<h6>rated {{ review.rating }} of 5 by <b> <a style="font-style: oblique; font-size:110%;" href="{% url 'recommendations:user_review_list' review.user_name%}" >{{ review.user_name }}</a> </b><h6>

				<h5 style="font-family:Comic Sans MS; font-size:100%;">Review Title: <a href="{% url 'recommendations:review_detail' review.id %}" >"<i>{{ review.title }}</i>"</a></h5>
					<p id="r_comment">"{{ review.comment|truncatewords:3 }}"</p>
					<p class="date"> Published {{ review.pub_date }} </p>
			</div>
		{% endfor %}
	</div>
	{% else %}
	<p>No reviews are available.</p>
	{% endif %}
{% endblock %}


<!--<h2>Latest reviews</h2> -->


