{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}
	<h4>{{ repo.name }}</h4>

{% endblock %}

{% block content %}
	<div class="tags">
		<p class="tags">
			Tags: {{ repo.tags.all|join:", " }}
		</p>
	</div>
	{% if repo.rates.all %}
		<h6 style="font-family:Lucida Console; font-size:100%;"><b><a href="{% url 'recommendations:reviews_by_repo' repo.id %}">  {{ repo.rates.count }} Reviews	</a> </b>( average rating : {{ repo.average_rating | floatformat }})</h6>
	{% else %}
		<p> Not rated yet</p>
	{% endif %}
	<p><b>url:	<a href="{{repo.url}}">{{repo.url}}</a></b></p>
	<p style="font-family:verdana;"><b><i>Description:</i></b></p>	
	<div class="description">
		<b> "{{repo.description}}"</b>
	</div>
	<p><b>Created at:</b>	{{repo.created_at}}</p>
	<b> Owner:  <a style="font-style: oblique; font-size:110%;" href="{% url 'recommendations:user_repo_list' repo.owner_id%}">{{ repo.owner_id }}</b></a>

	<h3>Recommendations for this Repository</h3>
	{% if recommended_projects %}
		<div class="recommendations">
			<p style="background-color:powderblue;"> <b>Users who watch this Repository also watch: </b></p>
			<div class="row">
				{% for repo in recommended_projects %}
					<div class="col-xs-6 col-lg-4">
						<b> <a style="color:#008080; font-style: oblique; font-size:110%;" href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }} </b> </a>
						<p><b>GitHub url:	<a style="font-size:85%;" href="{{repo.url}}">{{repo.url}}</a></b></p>
						
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<p>There are no recommendations for this Repository</p>
	{% endif %}
	
	<h3>Similar Repositories</h3>
	<div class="row">
		{% for repo in similar_repos %}
			<div class="col-xs-6 col-lg-4">
				<b> <a style="color:#008080; font-style: oblique; font-size:110%;" href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }} </b> </a>
				<p><b>GitHub url:	<a style="font-size:85%;" href="{{repo.url}}">{{repo.url}}</a></b></p>
			</div>
		
		{% empty %}
			<p style="padding:12px;"> There are no similar repos yet.</p>
		{% endfor %}
	</div>
	<h3>Recent reviews</h3>

	{% if repo.rates.all %}
		<div class="row">
			{% for review in repo.rates.all %}
				<div class="col-xs-6 col-lg-4">
					<li><em><b>{{ review.title }}</b></em>
					<h5><a href="{% url 'recommendations:review_detail' review.id %}">  Read more  </a></h5> </li>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>There're no reviews for this repository at the moment.</p>
	{% endif %}

	<div class="add-review">
		<div class="panel panel-default">
			<div class="panel-body">If you want to post your opinion for this Repository </div> 
			<div class="panel-footer clearfix">
				<div class="pull-left">
					<a href="{% url 'recommendations:add_review' repo.id %}" class="btn btn-primary">Add your review</a>
				</div>
			</div>
		</div>
	</div>	


{% endblock %}