{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}
	<h4>{{ repo.name }}</h4>

{% endblock %}

{% block content %}
	<div class="tags">
		<p class="tags">
			Tags: {{ repo.tags.all|join:", " }}
		</p>
	</div>
	<h6>{{ repo.review_set.count }} reviews ({{ repo.average_rating | floatformat }} average rating)</h6>
		<p><b>url:</b>	<a href="{{repo.url}}">{{repo.url}}</a></p>
		
		<p><b>Description:</b>	{{repo.description}}</p>
		<p><b>Published on:</b>	{{repo.created_at}}</p>
		</p> <b> Owner: </b> <a href="{% url 'recommendations:user_repo_list' repo.owner_id%}">{{ repo.owner_id }}</a>
	
	<h3>Recommendations for this Repository</h3>
	{% if recommended_projects %}
		<div class="recommendations">
			<p style="background-color:powderblue;"> <b>Users who watch this Repository also watch: </b></p>
			<div class="row">
				{% for repo in recommended_projects %}
					<div class="col-xs-6 col-lg-4">
						<a href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }}</a>
						<p>url:	<a href="{{repo.url}}"></a>{{repo.url}}</p>
						
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<p>There are no recommendations for this Repository</p>
	{% endif %}
	
	<h3>Similar Repositories</h3>
	<div class="row">
		{% for repo in similar_repos %}
			<div class="col-xs-6 col-lg-4">
				<a href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }}</a>
				<p>url:	<a href="{{repo.url}}"></a>{{repo.url}}</p>
			</div>
		
		{% empty %}
			There are no similar repos yet.
		{% endfor %}
	</div>
	<h3>Recent reviews</h3>

	{% if repo.review_set.all %}
		<div class="row">
			{% for review in repo.review_set.all %}
				<div class="col-xs-6 col-lg-4">
					<li><em><b>{{ review.title }}</b></em>
					<h5><a href="{% url 'recommendations:review_detail' review.id %}">  Read more  </a></h5> </li>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No reviews for this repo yet</p>
	{% endif %}

	<div class="add-review">
		<div class="panel panel-default">
			<div class="panel-body">If you want to post your opinion for this Repository </div> 
			<div class="panel-footer clearfix">
				<div class="pull-left">
					<a href="{% url 'recommendations:add_review' repo.id %}" class="btn btn-primary">Add your review</a>
				</div>
			</div>
		</div>
	</div>	


{% endblock %}