{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
	<div>
		<h4>{{ repo.name }}</h4>
	</div>
{% endblock %}

{% block content %}
	<div class="tags">
		<p class="tags">
			Tags: {{ repo.tags.all|join:", " }}
		</p>
	</div>	
	<h6>{{ repo.review_set.count }} reviews ({{ repo.average_rating | floatformat }} average rating)</h6>
		<p><b>url:</b>	<a href="{{repo.url}}">{{repo.url}}</a></p>
<h3>Recent reviews</h3>

{% if repo.review_set.all %}
	<div class="row">
		{% for review in repo.review_set.all %}
		<div class="col-xs-6 col-lg-4">
			<h5 style="font-family:Comic Sans MS; font-size:100%;">Review Title: <a href="{% url 'recommendations:review_detail' review.id %}" >"<i>{{ review.title }}</i>"</a></h5>
			<em>{{ review.comment }}</em>
			<h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
			<h6><a href="{% url 'recommendations:review_detail' review.id %}">
			Read more
			</a></h6>

		</div>
		{% endfor %}
	</div>
{% else %}
	<p>No reviews for this repo yet</p>
{% endif %}

<h5><a href="{% url 'recommendations:add_review' repo.id %}">Add your review</h3>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<h2>Similar Projects</h2>
	{% for repo in similar_repos %}
		<p>
		<a href="{{ repo.get_absolute_url }}">{{ repo.title }}</a>
		</p>
	{% empty %}
		There are no similar posts yet.
	{% endfor %}	
{% endblock %}