{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}
	<h4>{{ repo.name }}</h4>

{% endblock %}

{% block content %}
	<div class="tags">
		<p class="tags">
			Tags: {{ repo.tags.all|join:", " }}
		</p>
	</div>
	<h5>{{ repo.review_set.count }} reviews ({{ repo.average_rating | floatformat }} average rating)</h5>
		<p><b>url:</b>	<a href="{{repo.url}}"></a>{{repo.url}}</p>
		<p><b>Description:</b>	{{repo.description}}</p>
		<p><b>Published on:</b>	{{repo.created_at}}</p>
	
	<h2 style="background-color:powderblue;">Recommendations for this Project</h2>
	{% if recommended_projects %}
		<div class="recommendations">
			<h3> "Users who watch this project also watch" </h3>
			<div class="row">
				{% for repo in recommended_projects %}
					<div class="col-xs-6 col-lg-4">
						<a href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }}>
						<p>url:	<a href="{{repo.url}}"></a>{{repo.url}}</p>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<p>There are no recommendations for this Project</p>
	{% endif %}
	
	<h2 style="background-color:powderblue;">Similar Projects</h2>
	<div class="row">
		{% for repo in similar_repos %}
			<div class="col-xs-6 col-lg-4">
				<a href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }}</a>
				<p>url:	<a href="{{repo.url}}"></a>{{repo.url}}</p>
			</div>
		
		{% empty %}
			There are no similar projects yet.
		{% endfor %}
	</div>
	<h2 style="background-color:powderblue;">Recent reviews</h2>

	{% if repo.review_set.all %}
		<div class="row">
			{% for review in repo.review_set.all %}
				<div class="col-xs-6 col-lg-4">
					<li><em><b>{{ review.title }}</b></em>
					<h5><a href="{% url 'recommendations:review_detail' review.id %}">  Read more  </a></h5> </li>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No reviews for this repo yet</p>
	{% endif %}

	<div class="add-review">
		<div class="panel panel-default">
			<div class="panel-body">If you want to post your opinion for this project </div> 
			<div class="panel-footer clearfix">
				<div class="pull-left">
					<a href="{% url 'recommendations:add_review' repo.id %}" class="btn btn-primary">Add your review</a>
				</div>
			</div>
		</div>
	</div>	


{% endblock %}