{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}
<h1>Repositories</h1>
{% endblock %}

{% block content %}
	<div class="container">
		<h3>Search for Repos</h3>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form id="searchform" action="{% url 'recommendations:search_repo' %}" method="get" accept-charset="utf-8">
			<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search for ">
			<button type="submit" class="btn btn-info">

				<span class="glyphicon glyphicon-search"></span> Search
			</button>

		</form>
	</div>
	{% if repos %}
		<div class="row">
			{% if tag %}
				<h2>Projects tagged with "{{ tag.name }}"</h2>
			{% endif %}
			{% for repo in repos %}
			<div class="col-xs-6 col-lg-4">
				<h4><a href="{% url 'recommendations:repo_detail' repo.id %}">
				{{ repo.name }}</a></h4>
				<p class="tags">
					Tags: 
					{% for tag in repo.tags.all %}
						<a href="{% url 'recommendations:repo_list_by_tag' tag.slug %}">{{ tag.name }}</a>
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</p>
				</p> <b> Owner: </b> <a href="{% url 'recommendations:user_repo_list' repo.owner_id %}">{{ repo.owner_id }}</a>
				{% if repo.review_set.count %}
					<h6 style="font-family:Lucida Console; font-size:110%;" ><b>{{ repo.review_set.count }} reviews </b></h6>
				
					<h6 style="font-family:Lucida Console; font-size:100%;" >{{ repo.average_rating | floatformat }} average rating</h6>
				{% else %}
					 <br> <br>
					<p>There're no reviews for this repository at the moment.</p>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No repos are available.</p>
	{% endif %}
	{% include "pagination.html" with page=repos %}
{% endblock %}

