{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
	<div>
		<h4>{{ repo.name }}</h4>
	</div>
{% endblock %}

{% block content %}
	<div class="tags">
		<p class="tags">
			Tags: 
			{% for tag in review.tags.all %}
				<a href="{% url 'recommendations:review_list_by_tag' tag.slug %}"> {{ tag.name }} </a>
				{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</p>
	</div>	
	<h6>{{ repo.rates.count }} reviews ({{ repo.average_rating | floatformat }} average rating)</h6>
		<p><b>url:</b>	<a href="{{repo.url}}">{{repo.url}}</a></p>
<h3>Recent reviews</h3>

{% if repo.rates.all %}
	<div class="row">
		{% for review in repo.rates.all %}
		<div class="col-xs-6 col-lg-4">
			<h5 style="font-family:Comic Sans MS; font-size:100%;">Review Title: <a href="{% url 'recommendations:review_detail' review.id %}" >"<i>{{ review.title }}</i>"</a></h5>
			<p id="r_comment">"{{ review.comment}}"</p>
			<h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}<h6>
			<h6><a href="{% url 'recommendations:review_detail' review.id %}">
			Read more
			</a></h6>

		</div>
		{% endfor %}
	</div>
{% else %}
	<p>No reviews for this repo yet</p>
{% endif %}




	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<h3> Repositories also reviewed</h3>
	<div class="row">
		{% for repo in similar_repos %}
			<div class="col-xs-6 col-lg-4">
				<b> <a style="color:#008080; font-style: oblique; font-size:110%;" href="{% url 'recommendations:repo_detail' repo.id %}">{{ repo.name }} </b> </a>
				<p>url:	<a href="{{repo.url}}">{{repo.url}}</a></p>
			</div>
		
		{% empty %}
			<p style="padding:13px;"> There are no similar repos yet.</p>
		{% endfor %}
	</div>
	<div class="add-review">
		<div class="panel panel-default">
			<div class="panel-body">If you want to post your opinion for this Repository </div> 
			<div class="panel-footer clearfix">
				<div class="pull-left">
					<a href="{% url 'recommendations:add_review' repo.id %}" class="btn btn-primary">Add your review</a>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}