{% extends 'base.html' %}
{% load recommendations_tags %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}
<h1>Published Reviews and Ratings</h1>
{% endblock %}

{% block content %}
  	{% if latest_review_list %}
	<div>
        {% if tag %}
            <h3>Reviews tagged with "{{ tag.name }}"</h3>
        {% endif %}	
		{% for review in latest_review_list %}

			<div class="col-xs-6 col-lg-4">
				<li><h4>  {{ review.repo.name }}: <a style="font-family:Lucida Console; font-size:90%;" href="{% url 'recommendations:reviews_by_repo' review.repo_id %}">Reviews	</a></h4></li>
				<h6>rated {{ review.rating }} of 5 by <b> <a style="font-style: oblique; font-size:110%;" href="{% url 'recommendations:user_review_list' review.user_name%}" >{{ review.user_name }}</a> </b><h6>

				<h5 style="font-family:Comic Sans MS; font-size:100%;">Review Title: <a href="{% url 'recommendations:review_detail' review.id %}" >"<i>{{ review.title }}</i>"</a></h5>
					<p id="r_comment">"{{ review.comment}}"</p>
					<p class="date"> Published {{ review.pub_date }} </p>
			</div>
		{% endfor %}
	</div>
	{% else %}
		<p>No reviews are available.</p>
	{% endif %}
	{% include "pagination.html" with page=latest_review_list %}
{% endblock %}
