{% extends 'recommendations/repo_list.html' %}

{% load staticfiles %}
{% block title %}
<h1>Repos by {{ username }}</h1>
{% endblock %}

{% block content %}
	{% if repos %}
		<div class="row">
			{% if tag %}
				<h2>Projects tagged with "{{ tag.name }}"</h2>
			{% endif %}
			{% for repo in repos %}
			<div class="col-xs-6 col-lg-4">
				<h4><a href="{% url 'recommendations:repo_detail' repo.id %}">
				{{ repo.name }}</a></h4>
				<p class="tags">
					Tags: 
					{% for tag in repo.tags.all %}
						<a href="{% url 'recommendations:repo_list_by_tag' tag.slug %}">{{ tag.name }}</a>
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</p>
				<p><b>url:</b>	<a href="{{repo.url}}">{{repo.url}}</a></p>
				<p><b>Description:</b>	{{repo.description}}</p>
				<p><b>Created at:</b>	{{repo.created_at}}</p>
				{% if repo.rates.count %}
					<h6 style="font-family:Lucida Console; font-size:100%;"><b><a href="{% url 'recommendations:reviews_by_repo' repo.id %}">  {{ repo.rates.count }} Reviews	</a> </b>({{ repo.average_rating | floatformat }} average rating)</h6>

				{% else %}
					 <br> 
					<p>There're no reviews for this repository at the moment.</p>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No repos are available.</p>
	{% endif %}
	{% include "pagination.html" with page=repos %}
{% endblock %}

