<div class="pagination">
	<span class="step-links">
		{% if page.has_previous %}
			<a  href="?page=1" class="btn btn-primary">First Page</a>
			<a style= "border:1px solid grey" href="?page={{ page.previous_page_number }}" class="btn btn-primary">&laquo;</a>
		{% endif %}
		<span class="current">
		{% if page.has_other_pages  %}	
			Page {{ page.number }} of {{ page.paginator.num_pages }}</a>.
		{% endif %}
		</span>
		{% if page.has_next %}
			<a style= "border:1px solid grey" href="?page={{ page.next_page_number }}" class="btn btn-primary">&raquo;</a>
			<a  href="?page={{ page.paginator.num_pages }}" class="btn btn-primary">Last Page</a>
		{% endif %}
	</span>
</div>