{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}
	<h3 style="width:40%" >Login with Git Recommendations</h3>
{% endblock %}

{% block content %}
    <div style="width:40%" id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" 
                  action="{% url 'auth:login' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match. 
                        Please try again.
						<br>
						<br>
					</p>
					<p class=" label label-danger">
                        If you forgot your password
                        Try  <a href="{% url 'password_reset' %}">Reset your Password!</a>
						<br>
						<br>
					</p>
                {% endif %}

                <input type="submit" value="Login" 
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock content %}
