{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %} <h3>Change you password </h3>{% endblock %}

{% block content %}
    <div style="width:40%" id="password_change" class="container_password_change">
		<p>Use the form below to change your password.</p>
		<form action="{% url 'auth:password_change' %}" method="post" class="form">
			{% csrf_token %}
			{% bootstrap_form form layout='inline' %}
			{% buttons %}
			<p style= "color:red" > <strong>* REMEMBER! </strong>Your new password should be at least <strong>8 characters</strong> long (<strong>letters AND numbers</strong>) and <strong>different from your username</strong> <p>
			<p><input type="submit" value="Change"></p>
			
			{% endbuttons %}
		</form>
	</div>
{% endblock %}
